
<div class="flex items-center justify-center min-h-screen">
    <!-- Carta -->
    <div class="w-full max-w-md bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 p-6">
        <!-- Imagen y Nombre -->
        <div class="flex flex-col items-center mb-6">
            <img class="w-32 h-32 mb-4 rounded-full shadow-lg" src="assets/foto.jpg" alt="Imagen profesional" />
            <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">Jose Acuña</h2>
            <p class="text-sm text-gray-500 dark:text-gray-400">Ingeniero Informático</p>
        </div>

        <!-- Descripción Personal -->
        <div class="mb-4">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Sobre mí</h3>
            <p class="text-sm text-gray-700 dark:text-gray-300 mt-2">
                Soy un apasionado Ingeniero Informático interesado en el desarrollo de software innovador y soluciones tecnológicas que impacten positivamente en las personas y empresas. Mi motivación es explorar continuamente nuevas tecnologías y mejorar mis habilidades para aportar valor en cada proyecto que realizo. Me gusta el futbol, los perfumes y tengo un mini emprendimiento de perfumes.
            </p>
        </div>

        <!-- Habilidades Técnicas -->
        <div class="mb-4">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Habilidades Técnicas</h3>
            <ul class="text-sm text-gray-700 dark:text-gray-300 list-disc list-inside mt-2">
                <li>Lenguajes: Python, Java, C#</li>
                <li>Frameworks: .Net, Node.js</li>
                <li>Herramientas: Git, Figma</li>
                <li>Base de datos: MySQL, SQLite</li>
            </ul>
        </div>

        <!-- Habilidades Blandas -->
        <div class="mb-4">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Habilidades Blandas</h3>
            <ul class="text-sm text-gray-700 dark:text-gray-300 list-disc list-inside mt-2">
                <li>Comunicación efectiva</li>
                <li>Trabajo en equipo</li>
                <li>Adaptabilidad</li>
                <li>Resolución de problemas</li>
            </ul>
        </div>

        <!-- Proyectos Destacados -->
        <div>
            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Proyectos Destacados</h3>
            <ul class="text-sm text-gray-700 dark:text-gray-300 list-disc list-inside mt-2">
                <li>
                    <strong>Aplicacion Base de datos</strong> - Plataforma para administrar una base de datos.
                </li>
                <li>
                    <strong>Aplicación de administracion de usuarios</strong> - Pagina web para administrar usuarios.
            </ul>
        </div>
    </div>
</div>